
body {
	margin: 0px;
	font-family: sans-serif;
	font-size: 11px;
	color: #444444;
}

a, a:hover, a:focus {
	text-decoration: none;
}

::-webkit-input-placeholder { /* Edge */
	color: #AAA;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #AAA;
}
::placeholder {
	color: #AAA;
}

#container {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	overflow: hidden;
	background-color: #383E71;
	background-image: url('bg.png');
	background-repeat: repeat-both;
	cursor: arrow;
}

#container:active {
	cursor: arrow;
}

#map {
	position: absolute;
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
}

#markers {
	position: absolute;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.marker {
	position: absolute;
	text-align: center;
	width: 256px;
	height: 256px;
}

.deed {
	display: inline;
	background-color: rgba(0, 0, 0, 0.5);
	font-family: sans-serif;
	font-size: 11px;
	color: #fff;
	padding: 1px 2px 1px 2px;
	line-height: 256px;
	position: relative;
	top: -16px;
}

.deed:after {
	content: "";
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid rgba(0, 0, 0, 0.5);
	position: absolute;
	margin-left: -8px;
	left: 50%;
	bottom: -8px;
}

.deed.deed-permanent {
	color: #ff8800;
}

.deed.deed-normal {}

.zoom0 .deed.deed-normal,
.zoom1 .deed.deed-normal,
.zoom2 .deed.deed-normal { display: none !important; }
.zoom3 .deed.deed-normal { font-size: 8px;top: -13px; }

.border {
	border: 1px solid rgba(255, 255, 255, 0.35);
	border-radius: 1px;
	position: absolute;
}

.bounds {
	position: absolute;
}

.focusZone {
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 1px 2px 1px 2px;
	line-height: 16px;
	position: absolute;
	top: 0;
	left: 0;
}

.tower {
	display: none;
	position: absolute;
	width: 24px;
	height: 24px;
	background: url('tower.png') top left no-repeat;
}

.zoom0 .tower,
.zoom1 .tower,
.zoom2 .tower { display: none !important; }

.pointer {
	display: none;
	position: absolute;
	width: 24px;
	height: 24px;
	background: url('pointer.png') top left no-repeat;
}

/*
    public static final byte TYPE_NONE = 0;
    public static final byte TYPE_VOLCANO = 1;
    public static final byte TYPE_PVP = 2;
    public static final byte TYPE_NAME = 3;
    public static final byte TYPE_NAME_POPUP = 4;
    public static final byte TYPE_NON_PVP = 5;
    public static final byte TYPE_PVP_HOTA = 6;
    public static final byte TYPE_PVP_BATTLECAMP = 7;
    public static final byte TYPE_FLATTEN_DIRT = 8;
    public static final byte TYPE_HOUSE_WOOD = 9;
    public static final byte TYPE_HOUSE_STONE = 10;
    public static final byte TYPE_PREM_SPAWN = 11;
    public static final byte TYPE_NO_BUILD = 12;
    public static final byte TYPE_TALLWALLS = 13;
    public static final byte TYPE_FOG = 14;
    public static final byte TYPE_FLATTEN_ROCK = 15;
*/

.fzb_5 {
	border: 1px solid rgba(255, 255, 0, 0.35);
}

.fzb_12 {
	border-color: red;
	background-color: #F44;
	opacity: 0.2;
}

.fzm_12 span {
	color: #F44;
}

#sidebar {
	position: absolute;
	display: block;
	float: left;
	top: 8px;
	left: 8px;
	bottom: 8px;
	width: 150px;
	margin: 0;
	padding: 5px;
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 2px;
}

#sidebar h2 {
	position: relative;
	display: block;
	text-align: center;
	font-family: "Book Antiqua";
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: black;
	margin: 0;
	padding: 0;
}

#sidebar footer {
	position: absolute;
	left: 4px;
	right: 4px;
	bottom: 4px;
	margin: 0;
	padding: 0;
}

#sidebar footer:after {
	content: "";
	clear: both;
	display: table;
}

.panel {
	display: block;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
	border-radius: 2px;
	margin: 8px 0 0 0;
}

.panel h3 {
	margin: 0;
	padding: 2px 0;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	background-color: #EEE;
	border-bottom: 1px solid #CCC;
}

.panel div {
	display: block;
	background-color: #FFFFFF;
	text-align: center;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.panel div:hover {
	background-color: #EEEEEE;
}

.panel div:active {
	padding-top: 1px;
	margin-bottom: -1px;
}

.panel .selected {
	background-color: #D5E9FF;
	cursor: default;
}

.panel .selected:hover {
	background-color: #D5E9FF;
}

.panel label {
	display: block;
	margin: 2px 0;
	padding: 0;
}

.panel input[type=checkbox],
.panel input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    padding: 0;
    margin: 0 3px;
}

.panel:after {
	content: "";
	clear: both;
	display: table;
}

#zoom {
}

#zoom-in,
#zoom-out {
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-size: 20px;
}

#zoom-in {
	float: left;
	border-right: 1px solid #CCC;
}

#zoom-out {
	float: right;
	border-left: 1px solid #CCC;
}

#zoom-scale  {
	line-height: 32px;
	font-size: 12px;
	margin: 0;
	padding: 0;
	text-align: center;
}

#map-type {
}

#map-type div {
	line-height: 20px;
	border-bottom: 1px solid #CCC;
}

#map-type div:last-child {
	border-bottom: none;
}

#coords p {
	text-align: center;
	margin: 0;
	padding: 2px;
}

#info {
	text-align: left;
	margin: 0;
	padding: 2px;
}

#info h4 {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	background-color: #D5E9FF;
	margin: 0 0 2px 0;
	padding: 2px 0;
}

#timestamp {
	margin: 0;
	padding: 0;
	float: right;
}

#search {
	position: absolute;
	left: 178px;
	top: 8px;
	display: block;
	margin: 0;
	background-color: #FFFFFF;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
	border-radius: 2px;
}

#search:after {
	content: "";
	clear: both;
	display: table;
}

#searchbox {
	width: 256px;
	height: 16px;
	border: none;
	padding: 6px;
	border-radius: 2px;
	color: #444;
	float: left;
	font-size: 11px;
}

#searchbutton {
	width: 24px;
	height: 24px;
	border-radius: 2px;
	background-image: url('search.png');
	background-repeat: repeat-none;
	float: left;
	cursor: pointer;
	margin: 2px;
}

#searchbutton:active {
	background-position: 0px 1px;
}

#autocomplete {
	position: absolute;
	top: 28px;
	left: 4px;
	background-color: #FFFFFF;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	width: 256px;
	overflow: hidden;
}

#autocomplete div {
	padding: 3px;
	font-size: 14px;
	cursor: pointer;
}

#autocomplete div:hover {
	background-color: #8EAEEE;
}
